#trigger {
  position: fixed;
  left: 0.8rem;
  bottom: 0.8rem;
  cursor: pointer;
  z-index: 80;
  transform: scale(80%, 80%);
  transition: transform 150ms ease-in-out;
}
#trigger:hover {
  transform: rotate(90deg) scale(100%, 100%);
}
#dialog,
#dialog * {
  box-sizing: border-box;
  border-radius: 0.3em;
}
#dialog {
  background-color: white;
  box-shadow: 0.15rem 0.15rem 0.35rem #5e5e5e;
  border: 0.1rem solid #5e5e5e;
  padding: 0.8rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
#dialog > h3 {
  margin-bottom: 0.6rem;
}
#dialog > input[type="text"] {
  padding: 0.3rem;
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}
#dialog > #buttons > button {
  padding: 0.3rem;
  width: 6rem;
  font-size: 1.1rem;
}
#overlay {
  background-color: #999;
  opacity: 0.3;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
}